.client {
    height: 100%;

    .tagBar {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        gap: 10px;
        .search {
            position: relative;
            input {
                font-family: 'Roboto', sans-serif;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #fff;
                border-radius: 5px;

                outline: none;
                padding: 0 15px;
                width: 60%;
                height: 100%;
            }
            .icon {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 55%;
                transform: translateY(-50%);
            }
        }
        .addNew {
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 5px;
            background-color: #fff;
        }
        .courseLever {
            select {
                padding: 10px;
                height: 100%;
                background-color: #fff;
                border-radius: 5px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                .opacity {
                    color: gray;
                }
            }
        }
    }
    .noneTable,
    .noneForm {
        display: none;
    }

    .formAdd {
        display: block;
    }

    .table {
        display: block;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        table {
            width: 100%;
            thead {
                th {
                    border-bottom: 1px solid black;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }
            }
            tbody {
                .error {
                    border: none;
                    font-family: 'Roboto', sans-serif;
                }
                td {
                    font-family: 'Roboto', sans-serif;

                    border-bottom: 1px solid black;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .detail {
                    position: relative;
                    .buttonview {
                        background-color: #fff;
                        border: none;
                        &:hover {
                            background-color: gray;
                            color: #fff;
                        }
                    }
                    .noneTableDetail {
                        display: none;
                    }
                    .tableDetail {
                        border-radius: 5px;
                        padding: 10px 10px 10px 0;
                        width: 150px;
                        display: block;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        background-color: #fff;
                        position: absolute;
                        top: 25%;
                        left: -100%;
                        transform: translateX(-90%);

                        .buttonX {
                            width: 100%;
                            height: 25px;
                            position: relative;
                            button {
                                padding: 4px;
                                background-color: #fff;
                                border: none;
                                outline: none;
                                border-radius: 5px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                &:hover {
                                    background-color: red;
                                    color: #fff;
                                }
                            }
                        }
                        .buttonFix,
                        .buttonDetete,
                        .buttonDetail {
                            padding: 5px 10px;
                            font-size: 16px;
                            font-family: 'Roboto', sans-serif;
                            background-color: #fff;
                            border: none;
                            width: 100%;
                            display: flex;
                            gap: 10px;
                            h5 {
                                font-size: 16px;
                                font-family: 'Roboto', sans-serif;
                            }
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
