
.order{
    position: relative;
    .client {
    height: 100%;

    .tagBar {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        gap: 10px;
        .search {
            position: relative;
            input {
                font-family: 'Roboto', sans-serif;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #fff;
                border-radius: 5px;

                outline: none;
                padding: 0 15px;
                width: 60%;
                height: 100%;
            }
            .icon {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 55%;
                transform: translateY(-50%);
            }
        }
        .addNew {
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 5px;
            background-color: #fff;
        }
        .courseLever {
            select {
                padding: 10px;
                height: 100%;
                background-color: #fff;
                border-radius: 5px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                .opacity {
                    color: gray;
                }
            }
        }
    }
    .noneTable,
    .noneForm {
        display: none;
    }

    .formAdd {
        display: block;
    }

    .table {
        display: block;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        table {
            width: 100%;
            thead {
                th {
                    text-align: center;
                    border-bottom: 1px solid black;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }
            }
            tbody {
                .error {
                    border: none;
                    font-family: 'Roboto', sans-serif;
                }
                td {
                    line-height: 40px;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    border-bottom: 1px solid black;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .detail {
                    position: relative;
                    .buttonview {
                        background-color: #fff;
                        border: none;
                        &:hover {
                            background-color: gray;
                            color: #fff;
                        }
                    }
                    .noneTableDetail {
                        display: none;
                    }
                    .tableDetail {
                        border-radius: 5px;
                        padding: 10px 10px 10px 0;
                        width: 150px;
                        display: block;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        background-color: #fff;
                        position: absolute;
                        top: 25%;
                        left: -100%;
                        transform: translateX(-90%);

                        .buttonX {
                            width: 100%;
                            height: 25px;
                            position: relative;
                            button {
                                padding: 4px;
                                background-color: #fff;
                                border: none;
                                outline: none;
                                border-radius: 5px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                &:hover {
                                    background-color: red;
                                    color: #fff;
                                }
                            }
                        }
                        .buttonFix,
                        .buttonDetete,
                        .buttonDetail {
                            padding: 5px 10px;
                            font-size: 16px;
                            font-family: 'Roboto', sans-serif;
                            background-color: #fff;
                            border: none;
                            width: 100%;
                            display: flex;
                            gap: 10px;
                            h5 {
                                font-size: 16px;
                                font-family: 'Roboto', sans-serif;
                            }
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
.loading {
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        font-family: 'Roboto', sans-serif;
        .loading-icon {
            font-size: 30px;
            animation: spin 0.85s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
}

@media (min-width:1024px) and (max-width:1400px) {
    .order{
        .client{
           
            .table{
                table{
                    thead{
                       
                        th:nth-child(3)
                        {
                            display: none;
                        }
                    }
                    tbody{
                       
                        td:nth-child(3)
                        {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) and (min-width:640px) {
    .order{
        .client{
            .tagBar{
               
                .courseLever{
                    display: flex;
                    padding-right: 10px;
                    justify-content: flex-end;
                    select{
                        width: 50%;
                    }
                }
            }
            .table{ 
                table{
                    thead{
                        th:nth-child(6),
                        th:nth-child(5),
                        th:nth-child(3)
                        {
                            display: none;
                        }
                    }
                    tbody{
                        td:nth-child(6),
                        td:nth-child(5),
                        td:nth-child(3)
                        {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 640px){
    .order{
        .client{
            .tagBar{
                .courseLever{
                    select{
                        width: 40%;
                    }
                }
            }
            .table{ 
                table{
                    thead{
                         th:nth-child(4),
                        th:nth-child(6),
                        th:nth-child(5),
                        th:nth-child(3)
                        {
                            display: none;
                        }
                    }
                    tbody{
                        td:nth-child(4),
                        td:nth-child(6),
                        td:nth-child(5),
                        td:nth-child(3)
                        {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}
