.header-contain {
    display: flex;
    justify-content: center;
    background-color: #141414;
    position: fixed;
    z-index: 9999;
    width: 100%;

}

.header {
    display: inline-flex;
    background-color: #141414;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 60px;
    max-width: 1200px;
}


.logo_header {
    max-width: 174px;
}

  .menu_bar {
    font-family: var(--Montserrat-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;

    ul {
        list-style: none;
        display: flex;

        li {
            padding: 10px;
            position: relative;
            color: var(--white);
            font-size: 1.6rem;
            a {
                padding-bottom: 4px;
                color: var(--white);
                text-decoration: none;
                font-size: 1.6rem;
            }

            a:hover {
                border-bottom: 2px solid var(--red);
            }
        }
    }

    .dropdown_menu {
        display: none;
    }

    .downbtn:hover .dropdown_menu {
        display: block;
        position: absolute;
        left: 30px;
        top: 100%;
        background-color: var(--black);
        transition: all 0.3s ease;

        ul {
            padding: 0;
            display: block;
        li {
            width: 250px;
            padding-left: 18px;
    }
        li:hover {
            background-color: var(--red);
        }
}
}
    
    .fas {
        float: right;
        margin-left: 10px;
        padding-top: 3px;
    }

    .ai {
        margin-left: 8px;
    }

    .dropdown_menu_1 {
        display: none;
    }
 
    .downbtn_1:hover .dropdown_menu_1 {
        display: block;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_2 {
        display: none;
    }
 
    .downbtn_2:hover .dropdown_menu_2 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_4 {
        display: none;
    }
 
    .downbtn_4:hover .dropdown_menu_4 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_5 {
        display: none;
    }
 
    .downbtn_5:hover .dropdown_menu_5 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_6 {
        display: none;
    }
 
    .downbtn_6:hover .dropdown_menu_6 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_7 {
        display: none;
    }
 
    .downbtn_7:hover .dropdown_menu_7 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }

    .dropdown_menu_8 {
        display: none;
    }
 
    .downbtn_8:hover .dropdown_menu_8 {
        display: block;
        width: auto;
        position: absolute;
        top: 0;
        left: 250px;
        background-color: var(--black);
    }
 
    
    .form-search {
        top: 10px;
        position: absolute;
        right: -90%;
        width: 100%;
        padding-left: 40px;
        padding-right: 28px;
        height: 80%;
        transition: 0.35s ease all;
        
    }
    
    .form-search.active{
        top: 1rem;
        right: 0;
        visibility: unset;
    }

    .icon-close-form {
        position:absolute;
        right: 0;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .btn-search, .btn-search:focus, .btn-search:active {
        float: left;
        border: none;
        outline: none;
        background-color: #141414;
        margin-right: 14px;
        position: relative;
        z-index: 2;
        margin-bottom: 0;
        position: absolute;
    }

    .icon-search {
        padding-bottom: 4px;
        overflow: hidden;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        align-items: center;
    }

    .form-search-box {
        overflow: hidden;
        visibility: hidden;
        position: relative;
        height: 100%;
        top: 0;
        padding-bottom: 4px;
        padding-left: 32px;
        width: 0px;
        overflow: hidden;
        transition: 0.35s ease all;
    }


    .form-search-box.active {
        overflow: hidden;
        visibility: unset;
        width: 100%;
        border-bottom: 1px solid #B1B1B1;
    }

    .input_search {
        padding: 0 10px;
        height: 100%;
        width: 100%;
        background-color: #141414;
        border: none;
        outline: none;
        color: white;
    }
}

.contain-right {
    font-family: var(--Montserrat-family);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 220.5px;

    .box-trying {
        border: 0;
        padding: 20px 30px;
        text-align: center;
        font-family: Montserrat;
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--white);
        background: #da2128;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        transition: background 0.3s ease-in-out;
    }

    .box-trying:hover {
        text-decoration: unset;
        background-color: var(--hover);
    }

    .block-header-mobile {
        display: none;
    }
}


@media screen and ( max-width: 1024px ){
    .menu_bar {
        display: none;
    }

    .contain-right {

        .box-trying {
            padding: 10px 30px !important;
        }

        .block-header-mobile {
            height: 100%;
            width: 52px;
            display: flex !important;
            justify-content: center;
            align-items: center;

            .show {
            transform: translate(-100%,0) !important;
            }
        }

        #burger-menu-checker:checked ~ #burger-menu-cfyc ~ #menu {
            transform: translate(0,0);
        }
        input[type="radio"], input[type="checkbox"] {
            box-sizing: border-box;
            padding: 0;
        }

        [hidden] {
            display: none !important;
        }

        button, input {
            overflow: visible;
        }



        #burger-menu-checker {
            transform: translate(0,0);
        }

        #menu {
            z-index: 1;
            position: fixed;
            top: 60px;
            margin: 0;
            padding: 0 15px 0 24px;
            background: var(--black);
            -webkit-font-smoothing: antialiased;
            transform-origin: 0 0;
            transform: translate(+100%,0);
            transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);
            box-shadow: 0 2px 15px 0 rgba(56,56,56,.12);
            left: 100vw;
            right: 100vw;
            overflow: scroll;
            height: 100vw;
            width: 100vw;
            list-style: none;
            li {
                text-decoration: none;
                outline: none;
                color: var(--white);
                list-style: none;
                font-size: 15px;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;
                    color: var(--white);
            }
        }

        .main-item label {
            padding: 10px 0;
            font-family: var(--Montserrat-family);
            font-style: normal;
            font-weight: normal;
            font-size: 16px !important;
            line-height: 22px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        }

        .form-search-main {
            width: 100%;
            border-bottom: 1px solid #B1B1B1;
            font-family: var(--Montserrat-family);
            display: flex;
            justify-content: flex-start;
            align-items: center;

        }

        .input_search-mobile {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-weight: 500;
            font-size: 14px;
            line-height: 121.7%;
            color: #888888;
        }

        .main-item {
            padding: 10px 0;

            input:checked ~ .dropdown-content-mobile {
                max-height: 250px !important;
                height: fit-content !important;
            }

            input:checked ~ .dropdown-sub-content-mobile {
                max-height: 250px !important;
                height: fit-content !important;
            }
        }

        .dropdown-content-mobile {
            list-style: none;
            overflow: hidden;
            -webkit-transition: max-height .3s ease-in-out;
            transition: max-height .3s ease-in-out;
            font-family: var(--Montserrat-family);
            font-style: normal;
            font-weight: normal;
            font-size: 15px !important;
            line-height: 17px;
            color: var(--white);
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            max-height: 0;

            .icon-sub-sub-menu {
                transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
            }
        }

        .dropdown-group-mobile {
            margin-bottom: 16px;

            .group-blog-cate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .nav-sub-link {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .dropdown-sub-content-mobile {
            list-style: none;
            overflow: hidden;
            -webkit-transition: max-height .3s ease-in-out;
            transition: max-height .3s ease-in-out;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 0;
            max-height: 0;

            .dropdown-sub-content-item {
                background: #141414;
                font-size: 14px !important;
                line-height: 17px;
                color: var(--white);
                height: 40px;
                align-items: center;
                display: flex;
                
                a {
                    padding: 12px 20px;
                    height: 100%;
                    width: 100%;
                }
            }
            .dropdown-sub-content-item:hover {
                background-color: var(--red);
            } 

        }
        
    }

    #menu input:checked ~ label .icon-sub-menu {
        transition: all ease 0.3s;
        transform: rotate(180deg);
    }
    
    .dropdown-group-mobile>input:checked ~ label .icon-sub-sub-menu,.dropdown-group-mobile>input:checked ~ label .group-blog-cate .icon-sub-sub-menu {
        transition: all ease 0.3s;
        transform: rotate(180deg);
    }
    
}
