.main {
    position: relative;
    img {
        vertical-align: middle;
        border-style: none;
        padding-top: 60px;
    }
}

.br-sign-in-forgot {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
    padding: 80px 0 0 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    .submit-trying {
        width: 50%;
        display: flex;
        align-items: center;
        background: #ffffff;
        padding: 60px 40px;
    }
    .form-forgot {
        width: 100%;
        input {
            width: 100%;
            height: 45px;
            border: none;
            border-bottom: 1px solid;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.015em;
            color: rgba(0, 0, 0, 0.8);
            outline: none;
        }
        div:nth-child(n + 2) {
            margin-top: 32px;
        }
        div {
            position: relative;
            span {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Open Sans', 'Helvetica Neue', sans-serif;
                position: absolute;
                color: var(--primary-red);
                top: 100%;
                left: 0;
            }
        }
        .btn {
            background: #da2128;
            border: 1px solid #fafafa;
            box-sizing: border-box;
            border-radius: 0;
            // max-width: 180px;
            min-width: 163px;
            margin-right: 0;
            color: var(--white);
            padding: 17px 41px;
            margin-top: 40px;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.015em;
            color: var(--white);
            transition: all 0.3s ease;
            &:hover {
                color: var(--white);
                background-color: var(--hover);
            }
        }
    }
}
.main-container-inner {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    color: var(--white);
}
.big-title {
    h1 {
        font-family: var(--Oswald-family);
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 90px;
        width: 90%;
    }
}
.submit-trying-readmore {
    display: flex;
    margin-bottom: 10px;
    text-align: start;
    /* padding: 0 10px; */
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        width: 70%;
    }
}
.loading-icon {
    animation: spin 0.85s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
