.location {
    position: relative;
    .client {
        height: 100%;
        .tagBar {
            display: flex;
            justify-content: flex-end;
            button {
                margin-right: 20px;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                padding: 10px 25px;
                background-color: #eeee;
                transition: all 0.5s ease;
                &:hover {
                    background-color: gray;
                    color: #fff;
                }
            }
        }
        .fontAdd {
            display: block;
        }
        .noneFontAdd,
        .noneTable {
            display: none;
        }
        .table {
            display: block;
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            background-color: #eeee;
            width: 100%;
            height: 100vh;
            overflow: scroll;
            table {
                width: 100%;
                thead {
                    th {
                        text-align: center;
                        border-bottom: 1px solid black;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                    }
                }
                tbody {
                    .error {
                        border: none;
                        font-family: 'Roboto', sans-serif;
                    }

                    td {
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        line-height: 40px;
                        border-bottom: 1px solid black;
                        .p {
                            font-family: 'Roboto', sans-serif;
                            border-bottom: 1px solid black;
                        }
                    }
                    img {
                        margin-top: 5px;
                        border-radius: 5px;
                        width: 140px;
                        height: auto;
                    }
                    .detail {
                        position: relative;
                        .buttonview {
                            font-size: 18px;

                            border: none;
                        }
                        .noneTableDetail {
                            display: none;
                        }
                        .tableDetail {
                            border-radius: 5px;
                            padding-left: 8px;
                            padding-right: 8px;
                            padding-top: 28px;
                            padding-bottom: 8px;
                            width: 150px;
                            display: block;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            background-color: #fff;
                            position: absolute;
                            z-index: 5;
                            top: 70%;
                            left: 10%;
                            transform: translateX(-92%);

                            .buttonX {
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                font-size: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                button {
                                    padding: 4px;
                                    background-color: var(--cyan);
                                    color: var(--white);
                                    border: none;
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0.8;
                                    transition: all 0.5s ease;
                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                            .buttonFix,
                            .buttonDetete,
                            .buttonDetail {
                                padding: 8px;
                                font-size: 16px;
                                font-family: 'Roboto', sans-serif;
                                background-color: #fff;
                                color: var(--cyan);
                                border: none;
                                width: 100%;
                                display: flex;
                                gap: 10px;
                                border-radius: 4px;
                                transition: all 0.3s ease;
                                h5 {
                                    font-size: 16px;
                                    font-family: 'Roboto', sans-serif;
                                }
                                &:hover {
                                    background-color: var(--cyan);
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .loading {
        background-color: #fff;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: 'Roboto', sans-serif;
            .loading-icon {
                font-size: 30px;
                animation: spin 0.85s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .location {
        .client {
            .table {
                table {
                    thead {
                        th:nth-child(3) {
                            display: none;
                        }
                    }
                    tbody {
                        td:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) and (min-width: 640px) {
    .location {
        .client {
            .table {
                table {
                    thead {
                        th:nth-child(4) {
                            display: none;
                        }
                    }
                    tbody {
                        td:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 640px) {
    .location {
        .client {
            .table {
                table {
                    thead {
                        th:nth-child(1),
                        th:nth-child(4) {
                            display: none;
                        }
                    }
                    tbody {
                        td {
                            font-size: 14px;
                        }
                        td:nth-child(1),
                        td:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
