.view {
    position: relative;
    .overView {
        .cardProduct {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            .card {
                border-radius: 5px;
                padding: 10px;
                background-color: #eeee;
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 10px;
                .bgrIcon {
                    border-radius: 5px;
                    height: 100%;
                    position: relative;
                    .icon {
                        color: #fff;
                        font-size: 30px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                h6 {
                    color: black;
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                }
                p {
                    color: black;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    font-size: 28px;
                }
            }
        }
        .charPirCourse,
        .chartPir {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 2.5fr 1fr;
            gap: 10px;
            .infoPir,
            .clientCoach,
            .pir {
                padding: 20px;
                background-color: #eee;
                position: relative;

                h3 {
                    font-size: 24px;
                    text-align: start;
                    font-family: 'Roboto', sans-serif;
                }

                table {
                    margin-top: 16px;
                    width: 100%;
                    height: auto;

                    th {
                        text-align: start;
                        line-height: 60px;
                        border-bottom: 1px solid black;
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                    }
                    td {
                        text-align: start;
                        line-height: 60px;
                        border-bottom: 1px solid black;
                        font-size: 16px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .clientCoach {
                background-color: #eeee;
                padding: 10px 0;

                .client {
                    h3 {
                        margin-left: 20px;
                        font-family: 'Roboto', sans-serif;
                    }

                    .clientProduct {
                        padding: 15px 0;
                        border-top: 1px solid black;
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        .mapClient {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 80px;
                                height: 80px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin-bottom: 8px;
                            }
                        }
                    }

                    h4 {
                        cursor: pointer;
                        margin: 10px 0;
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        color: #362fd9;
                        &:hover {
                            color: black;
                        }
                    }
                    p {
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 4px;
                    }
                }
            }
        }
        .charPirCourse {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            .infoPir {
                background-color: #eeee;
                padding: 10px;
                h4 {
                    text-align: end;
                    font-family: 'Roboto', sans-serif;
                    color: #362fd9;
                    &:hover {
                        color: black;
                    }
                }
                h3 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                }
                .course {
                    margin-top: 10px;
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    grid-template-rows: 100px;
                    img {
                        width: 100%;
                        height: 100%;

                        border-radius: 5px;
                    }
                    .info {
                        padding: 10px;
                        .infoDetail {
                            font-size: 16px;
                            font-family: 'Roboto', sans-serif;
                            display: flex;
                            justify-content: space-between;
                            h5 {
                                font-size: 18px;
                                color: var(--info);
                                font-family: 'Roboto', sans-serif;
                            }
                            button {
                                padding: 8px 10px 10px 10px;
                                height: 30px;
                                border-radius: 5px;
                                font-weight: 600;
                                color: #fff;
                                background-color: var(--orange);
                                border: none;
                                cursor: default;
                            }
                        }
                    }
                }
            }
            .pirCourse {
                padding: 2%;
                width: 100%;
                background-color: #fff;
            }
        }
        .chartColumn {
            margin-top: 10px;
            border-radius: 10px;

            width: 100%;
            .chartColumn {
                padding: 10px;

                width: 100%;
                background-color: #fff;

                .asd {
                    width: 1140px;
                    margin: 0 auto;
                }
            }
            .infoColumn {
                padding: 40px 20px;
                background-color: #eeee;
                h4 {
                    cursor: pointer;
                    margin-top: 40px;
                    text-align: end;
                    font-family: 'Roboto', sans-serif;

                    color: #362fd9;
                    &:hover {
                        color: black;
                    }
                }
                h3 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    margin: 10px 0;
                }
                hr {
                    width: 15%;
                }
                table {
                    margin-top: 10px;
                    width: 100%;
                    thead {
                        th {
                            text-align: start;

                            border-bottom: 1px solid black;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                    tbody {
                        .imgOrder {
                            display: flex;
                            gap: 10px;
                            img {
                                margin: 0 auto;
                                width: 200px;
                                height: 100px;
                            }
                        }

                        td {
                            padding: 10px 0;
                            text-align: start;
                            border-bottom: 1px solid black;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }
        }
    }
    .loading {
        background-color: #fff;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: 'Roboto', sans-serif;
            .loading-icon {
                font-size: 30px;
                animation: spin 0.85s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
.done {
    border-radius: 4px;
    padding: 4px 8px;
    background-color: var(--success);
    color: var(--white);
}

.miss {
    background-color: var(--danger);
}
