.client{
    height:  100%;
    
    .tagBar{
        display: grid ;
        grid-template-columns: 3fr 1fr 1fr;
        gap:10px;
        .search{
            position: relative;
            input{
                font-family: 'Roboto', sans-serif;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #fff;
                border-radius: 5px;
               
                outline: none;
                padding:0 15px;
                width: 60%;
                height: 100%;
            }
            .icon{
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                position: absolute;
                top:50%;
                left: 55%;
                transform: translateY(-50%);
            }
        }
        .courseLever{
            position: relative;
          
            button{
                font-family: 'Roboto', sans-serif;
                border-radius: 5px;
                width: 100%;
                font-size: 18px;
                padding: 10px ;
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 2;
                .icon{
                    font-size:18px;
                }
            }
            .displayNone{
           display: none;
        }
        .selectInfo{
            border-radius:5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 100%;
            background-color: #fff;     
            display: flex;
            flex-direction: column;
            position: absolute;
            top:95%;
            z-index: 1;
            select{
                border-radius:5px;
                border: none;
                outline: none;
                font-size: 15px;
                padding: 8px 10px;  
                 font-family: 'Roboto', sans-serif;
                 &:hover{
                    background-color: rgb(150, 149, 149);
                    color: #fff;
                 }
                .opacity{
                    color:gray
                }
            }
        }
     
        }   
        .selectSort{
            width: 100%;
            background-color: #fff;
            border-radius: 5px;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
          
    
           
        }
        
    }
    .noneTable,
    .noneFormPut,
    .noneForm{
        display: none;
    }
    .formPut,
    .formAdd{
        display: block;
    }
  
    .table{
        display: block;
        padding: 30px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        table{
            width: 100%;
             thead{
            th{
                border-bottom:1px solid black ;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }
        }
        tbody{
            .error{
                border: none;
                font-family: 'Roboto', sans-serif;
            }
            td{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                border-bottom:1px solid black ;
            }
            img{
                width: 50px;
                height:50px;
                border-radius: 50%;
            }
            .detail{
                
                position: relative;
                .buttonview{
                    background-color: #fff;
                    border:none;
                    &:hover{
                        background-color: gray;
                        color: #fff;
                    }
                }
                .noneTableDetail{
                    display: none;
                }
                .tableDetail{
                    border-radius: 5px;
                      padding: 10px 10px 10px 0;
                    width: 150px;
                    display: block;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    background-color: #fff;
                    position: absolute;
                    z-index: 5;
                    top:25%;
                    left:-100%;
                    transform: translateX(-92%);
                    
                    .buttonX{
                        width: 100%;
                        height: 25px;
                      
                        font-size: 16px;
                        position: relative;
                       button{
                            padding: 4px;
                            background-color: #fff;
                            border: none;
                            
                            border-radius: 5px;
                            position: absolute;
                            top:0;
                            right:0;
                            &:hover{
                                background-color: red;
                                color: #fff;
                            }
                       }

                    }
                    .buttonFix,
                    .buttonDetete,
                    .buttonDetail{
                       padding: 5px 10px;
                      font-size: 16px;
                      font-family: 'Roboto', sans-serif;
                        background-color: #fff;
                        border: none;
                        width: 100%;
                        display: flex;
                        gap:10px;
                        h5{
                            
                            font-size: 16px;
                            font-family: 'Roboto', sans-serif;
                           ;
                        }
                        &:hover{
                            color: red;
                            
                        }
                    }
                    
                }
            }
        }
        }
       
    }
}