.modalDetail {
    width: 70%;
    background-color: #fff;
    border: 3px solid #00adb5;
    display: grid;
    grid-template-columns: 1fr 3fr;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: example;
    animation-duration: 1s;
    @keyframes example {
        0% {
            left: 50%;
            top: 0px;
        }
        50% {
            left: 50%;
            top: 50%;
        }
    }
    .leftDetail {
        padding-top: 40px;
        background-color: #00adb5;
        h3 {
            font-size: 26px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        hr {
            margin-bottom: 30px;
        }
        .img {
            width: 80%;
            margin: 0 auto;
            img {
                border-radius: 5px;
                width: 100%;
            }
            p {
                margin-top: 5px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
    }
    .rightDetail {
        .infoCourse {
            border-bottom: 1px solid black;
            padding: 10px 20px;
            h3 {
                font-size: 28px;
                font-family: 'Roboto', sans-serif;
            }
            .p {
                margin-top: 5px;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                span {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
            .table {
                max-height: 150px;
                overflow: auto;
                table {
                    width: 100%;
                    font-family: 'Roboto', sans-serif;
                    th,
                    td {
                        padding: 8px 0;
                        line-height: 20px;
                        border-bottom: 1px solid black;
                    }
                    tr:last-child {
                        td {
                            border: none;
                        }
                    }
                }
            }
        }
        .infoUser {
            border-bottom: 1px solid black;
            padding: 10px 20px;
            h3 {
                font-size: 28px;
                font-family: 'Roboto', sans-serif;
            }
            .user {
                display: grid;
                grid-template-columns: 1.5fr 2fr;

                .p {
                    margin-top: 5px;
                    font-weight: 600;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                    span {
                        padding: 4px;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 16px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
        .button {
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            button {
                background-color: var(--cyan);
                color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                border: none;
                border-radius: 5px;
                font-weight: 600;
                font-family: 'Roboto', sans-serif;
                transition: all 0.3s ease;
                &:hover {
                    background-color: var(--gray);
                }
            }
        }
    }
}
.gold {
    background-color: #e8c227;
    color: var(--white);
    padding: 4px;
    border-radius: 4px;
}
.platinum {
    background-color: #1f8263;
    color: var(--white);
}
.diamond {
    background-color: #aca3de;
    color: var(--white);
}
