.btn-veri{
    cursor: pointer;
    display: inline-block;
    width: auto;
    transform: translateX(33%);
    margin-top: 2rem;
    /* margin-left: 30px; */
    color: #d8e8d9;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    background-color: red;
  
   
}