@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@400;500;600;700&display=swap');

:root {
    // Font-Family:
    --Montserrat-family: 'Montserrat';
    --Oswald-family: 'Oswald';

    // Color:
    --black: #141414;
    --white: #fff;
    --hover: #000;
    --primary-red: #da2128;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    // Breakpoints:
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--Montserrat-family);
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    color: #212529;
}

ul {
    margin: 0;
}

.slick-dots {
    bottom: 20px;
    z-index: 10;
}
.slick-dots li button {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    opacity: 0.5;
    outline: none;
    transition: opacity 0.3s;
}

.slick-dots li button::before {
    color: var(--white);
    opacity: 0.25;
    font-size: 11px;
}
.slick-dots li.slick-active button::before {
    color: var(--white);
    opacity: 1;
    font-size: 11px;
}
.slick-slider {
    max-width: 100vw;
    width: 100%;
    overflow: hidden !important;
    // display: flex;
    align-items: stretch;
    // height: 1010px;
}

.slick-slide {
    height: 100%;
}

#slick .slick-slide {
    height: 1050px !important;
}

#slick .slick-slide img {
    object-fit: cover;
}

.btn-course {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 10px;
    font-size: 18px;
    color: var(--white);
    border: none;
    background-color: var(--black);
    position: absolute;
    z-index: 100;
}
.btn-next-course {
    top: 40%;
    transform: translateY(-50%);
    right: 0;
}
.btn-prev-course {
    top: 40%;
    transform: translateY(-50%);
}
.big-title {
    font-family: var(--Oswald-family);
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 90px;
    color: var(--white);
    width: 80%;
    margin-bottom: 16px;
    h1 {
        font-weight: 500;
        font-size: 60px;
        line-height: 90px;
        color: #ffffff;
        max-width: 370px;
    }
}